div.grid-container {
	display: grid;
	padding: 20px;
	grid-template-columns: 1fr 4fr 1fr;
}

.sidebar-left,
.middle-container,
.sidebar-right {
	padding: 10px;
}

.search-grid-container {
	display: grid;
	padding: 20px;
	grid-template-columns: repeat(2, 1fr);
}

.book-grid-container {
	display: grid;
	padding: 20px;
	grid-column-gap: 1em;
	grid-template-columns: repeat(3, 1fr);
}

.book-detail-grid-container {
	display: grid;
	grid-column-gap: 3em;
	grid-template-columns: 4fr 3fr;
}
